<html>
	<head>
	<title>Candidates</title>
	<link href="./static/bootstrap/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<div class="container">
			<div class="masthead">
				<h3 class="muted">SMSVote</h3>
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<ul class="nav">
								<li class="active"><a href="/vote">Candidates</a></li>
								<li><a href="#">Results</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
				</div><!-- /.navbar -->
			</div>
			<!-- Jumbotron -->
			<div class="jumbotron">
				<h1>Welcome {{voter["first_name"]}} {{voter["last_name"]}}</h1>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Candidate ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Party</th>
						<th>Vote</th>
					</tr>
					</thead>
					<tbody>
					{% for candidate in candidates %}
					<tr>
						<form method="post" action="/sendSMS">
							<td align="center">{{candidate['id']}}</td>
							<td align="center">{{candidate['first_name']}}</td>
							<td align="center">{{candidate['last_name']}}</td>
							<td align="center">{{candidate['party']}}</td>
							<td align="center"><input type="submit" value="Cast Vote" class = "btn btn-medium btn-primary"></td>
							<input type="integer" value="{{candidate['id']}}" name="candidate_id" hidden="true">
							<input type="integer" value="{{voter['voter_id']}}" name="voter_id" hidden="true">
						</form>
					</tr>
					{% endfor %}
					</tbody>
				</table>
				
			</div>
		</div>
  </body>
</html>
