<html>
	<head>
	<title>Candidates</title>
	<link href="./static/bootstrap/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<div class="container">
			<div class="masthead">
				<h3 class="muted">SMSVote</h3>
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<ul class="nav">
								<li class="active"><a href="/viewCandidates">Candidates</a></li>
								<li><a href="/results">Results</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Downloads</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
				</div><!-- /.navbar -->
			</div>
			<!-- Jumbotron -->
			<div class="jumbotron">
				<h1>Candidates</h1>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Candidate ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Party</th>
						<th>Vote</th>
					</tr>
					</thead>
					<tbody>
					{% for candidate in candidates %}
					<tr>
						<form method="post" action="/vote">
						<td align="center">{{candidate.attrib['id']}}</td>
						<td align="center">{{candidate._children[0].text}}</td>
						<td align="center">{{candidate._children[1].text}}</td>
						<td align="center">{{candidate._children[2].text}}</td>
						<td align="center"><input type="submit" value="Cast Vote" class = "btn btn-medium btn-primary"></td>
						<input type="integer" value="{{candidate.attrib['id']}}" hidden="true">
						<input type="integer" value="{{user_id}}" hidden="true">
						
					</tr>
					{% endfor %}
					</tbody>
				</table>
				
			</div>
		</div>
  </body>
</html>
