<html>
	<head>
	<title>Candidates</title>
	<link href="./static/bootstrap/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<div class="container">
			<div class="masthead">
				<h3 class="muted">SMSVote</h3>
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<ul class="nav">
								<li class="active"><a href="/welcome">Candidates</a></li>
								<li><a href="#">Results</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
				</div><!-- /.navbar -->
			</div>
			<!-- Jumbotron -->
			<div class="jumbotron">
				<h1>{{voter["first_name"]}} {{voter["last_name"]}}'s Vote Successfully Sent!</h1>
				<h2>Please wait for printed ballot</h2>
				<a href="/welcome"><button class="btn btn-primary" >New Voter</button></a>
			</div>
		</div>
  </body>
</html>
